<ion-view view-title="{{parentName}}" id="my-stocks">
  <ion-nav-bar id="stock-navbar" class="bar-teal ng-style:reactiveColor" >
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <button class="button home-button" ng-click="goHome()"><i class="icon ion-home"></i></button>

  </ion-nav-buttons>
  <ion-nav-buttons side="right">

  </ion-nav-buttons>
  <div class="bar bar-subheader bar-search bar-dark item-input-inset">

    <div class="item-input-wrapper search-input">

        <i class="ion-ios-search-strong placeholder-icon light"></i>

        <input


        ng-model-options="{allowInvalid:true}"
        type="text"
        placeholder="Search DTAs..."
        ng-model="searchText"
        ng-init="searchText=''"






        >


    </div>
  </div>

  <div ng-if="!isEmptyOrSpaces(searchText) && (dtas|filter:searchText).length > 0" class="search-notice">If you see a blank screen while searching, please TAP the screen to view search results.</div>
  <div ng-if="!isEmptyOrSpaces(searchText) && (dtas|filter:searchText).length == 0" class="search-notice ">No results found.</div>

  <ion-content ng-class="!isEmptyOrSpaces(searchText) && (dtas|filter:searchText).length > 0 ? 'has-search-subheader-with-notice' : 'has-search-subheader'">

    <div class="row row-center"  ng-show="!dtas" ng-hide="dtas">
      <div class="col">
        <ion-spinner class="spinner-dark margin-auto" icon="ripple"></ion-spinner>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="dta in dtas | filter:searchText" >

        <div class="row row-center" ng-bind-html="dta.name" ng-click="goToDTA(dta.term_id,dta.name)">


        </div>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
