<div class="card" style="padding:15px">

<div ng-if="subscriptionType == 'income'">
<p><b>Income Tax App includes:</b></p>
<ul>
        <li>South African Income Tax Act</li>      
        <li>Tax Administration Act</li>
        <li>SARS Interpretation Notes</li>
        <li>SARS Published Rulings (BCRs, BGRs, BPRs)</li>
        <li>Selected SARS Guides</li>
        <li>DTAs</li>
        <li>Comprehensive definitions lists</li>
        <li>Personalised notes</li>
        <li>Personalised information folders (“Briefcases”)</li>
        <li>Intuitive search function</li>   
    </ul>
    <p>No internet required.</p>
</div>  

<div ng-if="subscriptionType == 'vat'">
        <p><b>VAT and Indirect Taxes App includes:</b></p>
        <ul>
        <li>South African VAT Act</li>
        <li>Customs and Excise Act</li>
        <li>Employment Tax Incentive Act</li>
        <li>Minerals and Petroleum Resources Royalty Act</li>
        <li>Minerals and Petroleum Resources Royalty (Administration) Act</li>
        <li>Carbon Tax Act</li>
        <li>Securities Transfer Tax Act</li>
        <li>Securities Transfer Tax Administration Act</li>
        <li>Skills Development Levies Act</li>
        <li>Estate Duty Act</li>
        <li>Transfer Duty Act</li>
        <li>Unemployment Insurance Contributions Act</li>
        <li>Tax Administration Act</li>
        <li>SARS Interpretation Notes</li>
        <li>SARS Published Rulings (BCRs, BGRs, BPRs)</li>
        <li>Selected SARS Guides</li>
        <li>DTAs</li>
        <li>Comprehensive definitions lists</li>
        <li>Personalised notes</li>
        <li>Personalised information folders (“Briefcases”)</li>
        <li>Intuitive search function</li>   
    </ul>
    <p>No internet required.</p>
</div>  

<div ng-if="subscriptionType == 'full'">
        <p><b>Income Tax, VAT and Indirect Taxes App includes:  
            </b></p>
<ul>
    <li>South African Income Tax Act</li>
    <li>VAT Act</li>
    <li>Customs and Excise Act</li>
    <li>Employment Tax Incentive Act</li>
    <li>Minerals and Petroleum Resources Royalty Act</li>
    <li>Minerals and Petroleum Resources Royalty (Administration) Act</li>
    <li>Carbon Tax Act</li>
    <li>Securities Transfer Tax Act</li>
    <li>Securities Transfer Tax Administration Act</li>
    <li>Skills Development Levies Act</li>
    <li>Estate Duty Act</li>
    <li>Transfer Duty Act</li>
    <li>Unemployment Insurance Contributions Act</li>
    <li>Tax Administration Act</li>
    <li>SARS Interpretation Notes</li>
    <li>SARS Published Rulings (BCRs, BGRs, BPRs)</li>
    <li>Selected SARS Guides</li>
    <li>DTAs</li>
    <li>Comprehensive definitions lists</li>
    <li>Personalised notes</li>
    <li>Personalised information folders (“Briefcases”)</li>
    <li>Intuitive search function</li>   
</ul>
    <p>No internet required.</p>
</div>  

<div ng-if="subscriptionType == 'update-legislation'">
   <p>If you have received an in-app notification for a <b>tax legislation update</b>, please tap on the <span style="font-weight: bold; color:#538135">“Get tax legislation update”</span> button.</p>
   <p>An update to legislation will take approximately 1 to 2 minutes to download.</p>
   <p>Please do not close the app until the update is complete.</p>
   <p>We recommend performing updates using a stable Wi-Fi connection.</p>
</div>  

<div ng-if="subscriptionType == 'update-information'">
    <p>If you have received an in-app notification for a <b>tax information update</b>, please tap on the <span style="font-weight: bold; color:#ed7d31">“Get tax information update”</span> button.</p>
    <p>An update to tax information will take approximately 3 to 10 minutes to download.</p>
    <p>Please do not close the app until the update is complete.</p>
    <p>We recommend performing updates using a stable Wi-Fi connection.</p>
</div>  

<div ng-if="subscriptionType == 'corporate'">
    <p><b>If your employer has purchased or renewed a Corporate Subscription on your behalf or you have obtained a 20% SAIT discount from hApp-e-tax, then:</b>
    </p>
    <p>
        You will be asked to provide your work e-mail address in the next screen; and
    </p>
    <p>
        You will NOT be required to pay anything for your Corporate Subscription or Renewal.
    </p>
</div>  


</div>
