<ion-view view-title="Tax Posts Index" id="my-stocks">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modalService.openModal(1)">
      <i class="icon icon-small ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="getMyStocksData()"
    class="margin-auto"
    >

    </ion-refresher>

    <div class="row row-center"  ng-show="!taxActPosts" ng-hide="taxActPosts">
      <div class="col">
        <ion-spinner class="spinner-dark margin-auto spinner-large" icon="ripple"></ion-spinner>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="post in taxActPosts track by $index" >

        <div ui-sref="app.post({postID:{{post.ID}}})" class="row row-center" ng-bind-html="post.post_title">



        </div>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
