<ion-view view-title="VAT" id="my-stocks">
  <ion-nav-bar id="stock-navbar" class=" ng-style:reactiveColor" >
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button class="button home-button" ng-click="goHome()"><i class="icon ion-home"></i></button>

  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>

  <ion-content class="has-subheader">

   
    <ion-list ></ion-list>
        <ion-item>
          <div class="row row-center"  ng-click="goToVATAct()" >
            VAT Act
          </div>
        </ion-item>
        <ion-item>
          <div class="row row-center"  ng-click="goToVATRegulations()">
            VAT Regulations
          </div>
        </ion-item>
    
    </ion-list> 
      

     
  </ion-content>
</ion-view>
